<h1>Lançar Pontos</h1>

<form [formGroup]="lancar_pontos_form" name="lancar_pontos_form" (ngSubmit)="salvarPontos()" #formDir="ngForm" novalidate>
    <p>
        Data do jogo<br />
        <input type="date" formControlName="dataPartida"/>

        <span class="text-danger" *ngIf="dataPartida.invalid && formDir.submitted">
            Data do jogo é necessário.
        </span>
    </p>

    <p>
        Quantos pontos você fez:<br />
        <input type="number" formControlName="quantidadePontos"/>

        <span class="text-danger" *ngIf="quantidadePontos.invalid && formDir.submitted">
            Número de pontos é necessário.
        </span>
    </p>
    <button type="submit" class="btn btn-default">Salvar</button>
    <button class="btn" (click)="cancelar()">Cancelar</button>
</form>