<table class="table table-striped" *ngIf="!detalheCarreira">
    <tr>
        <td>Carregando...</td>
    </tr>
</table>
<table class="table table-striped" *ngIf="detalheCarreira">
    <thead>
        <tr>
            <td colspan="2">Resultados {{ detalheCarreira.dataInicial | date:'dd-MM-yyyy' }} até {{ detalheCarreira.dataFinal | date:'dd-MM-yyyy' }}</td>
        </tr>
    </thead>
    <tr>
        <td>Jogos disputados </td>
        <td>{{ detalheCarreira.jogosDisputados }}</td>
    </tr>
    <tr>
        <td>Total de pontos marcados na temporada </td>
        <td>{{ detalheCarreira.totalPontosTemporada }}</td>
    </tr>
    <tr>
        <td>Média de pontos por jogo </td>
        <td>{{ detalheCarreira.mediaPontosJogos | number : '.1-1' }}</td>
    </tr>
    <tr>
        <td>Maior pontuação em um jogo </td>
        <td>{{ detalheCarreira.maiorPontuacaoJogos }}</td>
    </tr>
    <tr>
        <td>Menor pontuação em um jogo </td>
        <td>{{ detalheCarreira.menorPontuacaoJogos }}</td>
    </tr>
    <tr>
        <td>Quantidade de vezes que bateu o próprio recorde </td>
        <td>{{ detalheCarreira.quantidadeVezesRecorde }}</td>
    </tr>
</table>